:root {
    --primary:rgba(64, 70, 79, 1);
    --secondary: rgba(225, 177, 104, 1)
}

@font-face {
    font-family: Joseph;
    src: url(../Fonts/Joseph/JosefinSans-VariableFont_wght.ttf);
}

* {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container {
    margin: auto;
    max-width: 1320px;
    padding: 0 20px;
}
header {
    background-color: var(--primary); 
    padding-top: 50px;
}

header a {
    font-family: Joseph, sans-serif;
}

.bighead {
    border-bottom: 4px solid #5C6168;
    padding-bottom: 49px;
}
.logobar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 188px;   
}

.logo {
    width: 378px;
    height: 188px;
}
/* burada men faiznen yox saytdaki kimi olculer yazdim */
.logo img {
    
}

/* media queries */
@media (max-width:1400px) {
    .container {width: 1140px;}
}

@media (max-width:1200px) {
    .container {width: 960px;}
}

@media (max-width:992px) {
    .container {width: 720px;}
}

@media (max-width:768px) {
    .container {width: 540px;}
}

@media (max-width:576px) {
    .container {width: 100%;}
}

.call,
.regist {
    display: inline-block;
    width: 265px;
    font-size: 20px;
    height: 73px;
    text-align: center;
    padding: 20px 0;  
    transition: 0.4s;  
    line-height: 33px; 150%
}

.call a {
    letter-spacing: 0.2px;
}
.regist a {
     letter-spacing: 0.44px;
}
.call {
    color: white;
    border: 1px solid var(--secondary);
}
.regist {
    color: #292E36;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}
.call:hover {
    color: #292E36;
    background-color: var(--secondary);
    }
.regist:hover {
    color: white;
    background-color: transparent;
    
}
